omegaconf
pytorch_lightning
hydra
hydra-core
braceexpand
webdataset
transformers
sentencepiece

pyannote.core
pyannote.metrics
ijson
sacremoses
sacrebleu
einops
opencc
pangu
ipadic
mecab-python3
pesq
pystoi
wandb
cached_property
pynini
tensorflow 
tensor