<html>
    <head>
        <title>Tutorial</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css"
    </head>

    <body>
        <h1>Spoken language translation</h1>
        <form class="mb-3 text-center" action="/" method="post" enctype="multipart/form-data">
            <!-- <label for="audiofile" class="form-label">Audio Input</label> -->
            <input class="form-control" type="file" name="audiofile">
            <input class="btn btn-primary mt-3" type="submit" value="Translate">
        </form>

        {% if translate %}
            <p class="text-center">{(translate)}</p>
        {% endif %}
    </body>
</html>